h1{
  text-decoration: underline solid black 2px;
  text-align: center;
}

section{
  width:400px;
  height:400px;
  margin: auto ;
  border: 5px solid white;
  border-radius: 3px;
  box-shadow:0px 0px 19px 5px black;
}
table{
border-collapse: collapse;
  border: 1px solid black;
}

tr td{
  width: 50px;
  height:50px;
  border: none;
  text-align: center;
  padding: 0;
  font-size: 35px;
}
tr:nth-child(2n+1) td:nth-child(2n){
  background: #000;
}
tr:nth-child(2n+1) td:nth-child(2n+1){
  background: white;
}
tr:nth-child(2n) td:nth-child(2n+1) {
  background: #000;
}

tr:nth-child(2n) td:nth-child(2n) {
  background: white;
}